#menu-desktop {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  background: darken($blue, 20%);
  z-index: 1;
  width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
    li {
      font-size: 18px;
      a {
        cursor: pointer;
        font-family: $comics;
        color: $white;
        padding: 15px;
        display: inline-block;
        width: 100%;
        transition: $transition;
        &:hover, &:focus, &.router-link-active {
          background: $gray;
          color: $blue;
        }
      }
    }
  }
  @media (max-width: 991px) {
    display: none;
  }
}