#address-form {
  legend {
    text-align: left;
    font-size: 18px;
    color: $blue;
    margin: 0 0 5px;
  }
  input, select {
    &:disabled {
      color: $black-disabled;
      background: $gray-bg;
    }
  }
  input {
    &.zipcode {
      max-width: 40%;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      display: inline-block;
      @media (max-width: 991px) {
        max-width: calc(100% - 42px);
      }
    }
  }
  button {
    top: -8px;
    left: 0;
    width: 42px;
    height: 38px;
    position: relative;
    border: none;
    color: $white;
    background: $blue;
    font-weight: 600;
    border-radius: $radius;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transition: $transition;
    &.disabled {
      color: $white;
      background: $gray-disable;
      &:hover {
        color: $white;
        background: $gray-disable;
        cursor: not-allowed;
      }
    }
    &:hover {
      background: darken($blue, 25%);
      color: $white;
    }
    &:focus, &:active, &:hover {
      outline: none;
    }
  }
}