footer.footer {
  position: relative;
  bottom: 0;
  padding: 15px;
  width: 100%;
  background: $blue;
  z-index: 2;
  p {
    line-height: 60px;
    margin: 0 auto;
    color: $white;
    a, span {
      color: $white;
      transition: $transition;
    }
    a {
      &:hover, &:active, &:focus {
        color: $gray-bg;
        font-size: 18px;
      }
    }
  }
  @media (max-width: 991px) {
    position: relative;
    z-index: 1;
  }
}