/* GrayScale Colors */
$white: #fff;
$gray: #fafbfc;
$gray-bg: #cbd2de;
$gray-disable: #6c757d;
$gray-disable-light: #6c757d57;
$black-shadow: #555;
$black: #000;
/* GrayScale Colors */

/* Blue */
$blue: #3793f9;
/* Blue */

/* Red */
$red: #dc3545;
/* Red */

/* Yellow */
$yellow: #ffc107;
/* Yellow */

/* Defaults */
$radius: 5px;
$transition: all 0.3s ease;
$shadow: 0 0 7px 0 $black-shadow;
/* Defaults */

/* Fonts */
$default: 'Avenir', Helvetica, Arial, sans-serif;
$comics: "Comic Sans MS", cursive, sans-serif;
/* Fonts */

/* Sizes */
$min-height-container: calc(100vh - 148px);
$min-height-container-tablet: calc(100vh - 315px);
$min-height-container-mobile: calc(100vh - 335px);
/* Sizes */

/* Animations */
@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
/* Animations */