/* Base Colors */
$white: #fff;
$gray: #fafbfc;
$gray-disable: #6c757d;
$black: #000;
/* Base Colors */

/* Fonts */
$default: 'Avenir', Helvetica, Arial, sans-serif;
$comics: "Comic Sans MS", cursive, sans-serif;
/* Fonts */

/* Sizes */

/* Sizes */

/* Transitions */
$transition: all 0.3s ease;
/* Transitions */

/* Animations */

/* Animations */