/* GrayScale Colors */
$white: #fff;
$gray: #fafbfc;
$gray-bg: #cbd2de;
$gray-disable: #6c757d;
$black: #000;
/* GrayScale Colors */

/* Blue */
$blue: #3793f9;
/* Blue */

/* Red */
$red: #dc3545;
/* Red */

/* Fonts */
$default: 'Avenir', Helvetica, Arial, sans-serif;
$comics: "Comic Sans MS", cursive, sans-serif;
/* Fonts */

/* Fonts */
$default: 'Avenir', Helvetica, Arial, sans-serif;
$comics: "Comic Sans MS", cursive, sans-serif;
/* Fonts */

/* Sizes */
$min-height-container: calc(100vh - 285px);
$min-height-container-tablet: calc(100vh - 315px);
$min-height-container-mobile: calc(100vh - 335px);
/* Sizes */

/* Transitions */
$transition: all 0.3s ease;
/* Transitions */

/* Animations */

/* Animations */